<div class="container-fluid h-100">
  <div class="card h-100">
    <div class="row h-100">
      <div class="col-md-6 col-lg-7 col-xl-8">
        <div class="login">
          <div class="loginform">
            <div class="logo">
              <img src="../../../assets/logo.png">
            </div>
            <div class="title mt-4">
              <h1 class="mb-1">Forgot Password</h1>
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
            </div>
            <div class="form">
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group mt-3">
                  <label class="d-block">Email</label>
                  <div class="position-relative">
                  <input class="input" type="text" formControlName="email" placeholder="example@gmail.com" autocomplete="off">
                  <div class="icon">
                    <img src="../../../assets/mailicon.svg" class="pe-2" alt="">
                    <span class="line"></span>
                  </div>
                  <div
                  *ngIf="(ForgotpasswordControl.email.touched || submitted) && ForgotpasswordControl.email.errors?.required">
                  <p class="text-danger"> Email is required</p>
                </div>
                <p *ngIf="ForgotpasswordControl.email.touched && (ForgotpasswordControl.email.errors?.pattern)"
                  class="text-danger">This is invalid email address!</p>
                  <div class="verify-btn">
                    <button type="button" class="btn" (click)="verfyEmailAddress()" *ngIf="!verifyEmail">Verify</button>
                  </div>
                  </div>
                </div>
                <div *ngIf="verifyEmail">
                  <div class="form-group mt-3">
                    <label class="d-block">New Password</label>
                    <div class="position-relative">
                    <input class="input" type="{{ isPasswordVisible ? 'text' : 'password' }}" formControlName="password" placeholder="********" autocomplete="off">
                    <div class="icon">
                      <img src="../../../assets/passwordicon.svg" class="pe-2" alt="">
                      <span class="line"></span>
                    </div>
                    <div class="icon">
                      <img src="../../../assets/passwordicon.svg" class="pe-2" alt="">
                      <span class="line"></span>
                    </div>
                    <div class="passwordicon">
                      <i (click)="togglePasswordVisibility()" class="fa" [ngClass]="isPasswordVisible ? 'fa fa-eye':'fa fa-eye-slash'" aria-hidden="true"></i>
                    </div>
                    <div
                    *ngIf="(ForgotpasswordControl.password.touched || submitted) && ForgotpasswordControl.password.errors?.required">
                    <p class="text-danger">password Id is required</p>
                  </div>
                  <p *ngIf="ForgotpasswordControl.password.touched && (ForgotpasswordControl.password.errors?.pattern)"
                    class="text-danger">This is invalid password!</p>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <label class="d-block">Re-enter New Password</label>
                    <div class="position-relative">
                    <input class="input" type="{{ isPasswordVisible2 ? 'text' : 'password' }}" placeholder="********" formControlName="confirmpassword" autocomplete="off">
                    <div class="icon">
                      <img src="../../../assets/passwordicon.svg" class="pe-2" alt="">
                      <span class="line"></span>
                    </div>
                    <div class="passwordicon">
                      <i (click)="togglePasswordVisibility2()" class="fa" [ngClass]="isPasswordVisible2 ? 'fa fa-eye':'fa fa-eye-slash'" aria-hidden="true"></i>
                    </div>
                    <span class="text-danger"
                    *ngIf="forgotPasswordForm.get('confirmpassword').dirty && forgotPasswordForm.get('confirmpassword').hasError('required')">
                    Confirm Password is required
                  </span>

                  <span class="text-danger"
                    *ngIf="forgotPasswordForm.get('confirmpassword').dirty && forgotPasswordForm.get('confirmpassword').hasError('matchPasswordValidator')">
                    Passwords do not match
                  </span>
                    </div>
                  </div>

                  <div class="form-group text-center mt-3">
                    <button class="btn submitbtn" [disabled]="forgotPasswordForm.invalid">Reset</button>
                  </div>
                </div>

                <div class="form-group text-center mt-4">
                  <small>Remembered your Password? <a routerLink="/login">Login</a> </small>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-5  col-xl-4">
        <img src="../../../assets/forgotpasswords.png" class="w-100 h-100">
      </div>

    </div>
  </div>

</div>
