
<div class="menulaoder">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <div class="card text-center text-white">
           <div class="title text-center">
            <h1 class="text-white">Payment Modes</h1>
           </div>
           <mat-radio-group aria-label="Select an option">
           <div class="row">
            <div class="col-6 mb-4">
              <mat-radio-button value="1">Credit Card</mat-radio-button>
            </div>
            <div class="col-6 mb-4">
              <mat-radio-button value="2">Bank Transfer</mat-radio-button>
            </div>
            <div class="col-6 mb-4">
              <mat-radio-button value="3">Debit Card</mat-radio-button>
            </div>
            <div class="col-6 mb-4">
              <mat-radio-button value="4">UPI Payment</mat-radio-button>
            </div>

           </div>
          </mat-radio-group>
           <div class="text-center">
            <button class="submitbtn">Confirm Payment</button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
