*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container-fluid{
  position: fixed;
}
.login{
  background-color: #F8F7FC;
  height: 100%;
  padding: 50px 50px;
  position: relative;
}
.title h1{
  color: #236BAE;
  font-size: 32px;
  font-weight: 500;
}
.title small{
  font-weight: 500;
}
.form{
  padding: 5rem 4rem 1rem;

}
.input{
  width: 100%;
  border: 1px solid #E3E3E3;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}
.submitbtn{
  background: #236BAE;
    width: 100%;
    color: white;
    padding: 8px;
}
label{
  font-weight: 500;
  padding-left: 8px;
  margin-bottom: 8px;
}
:host::ng-deep.otp-input{
  margin-bottom: 10px;
}

@media only screen and (min-width:1640px){
  .loginform{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 50px;
  }
}
@media only screen and (max-width:1024px){
  .form{
    padding: 3rem 1rem 1rem;

  }
}

@media only screen and (max-width:375px){
  .login{
    padding: 50px 15px;
}
}
