<div class="background">
  <div class="container-fluid pt-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex align-items-center justify-content-between">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt=""></a>
        <div class="" id="navbarSupportedContent">
          <div class="d-flex align-items-center">
            <button class="btn " type="submit" (click)="dropdownOpen()">
              <img src="../../assets/user.png" alt="" class="w-100 signup">
            </button>
          </div>
            <ng-container>
              <div class="box arrow-top" *ngIf="menuopen">
                <div class="d-flex align-items-center">
                  <div>
                      <img src="../../assets/user.png" alt="" class="w-100 signup">
                  </div>
                  <div class="ms-3" >
                    <h2 class="mb-0" style="line-height: 1;">{{name.name}}</h2>
                    <small>{{email}}</small>
                  </div>
                </div>
                <div class="d-flex mt-3">
                  <label>Table No. :</label>
                  <strong class="d-inline-block ms-2"> {{tableno}}</strong>
                </div>
                <div class="d-flex">
                 <label>Login date & time :</label>
                 <strong class="d-inline-block ms-2">{{date}}</strong>
                 <strong class="d-inline-block ms-2">{{time}}</strong>
                </div>
                <div class="text-end mt-4">
                  <button class="logout" (click)="logOut()">Logout</button>

                </div>
              </div>
            </ng-container>


        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>





