.cart{
 margin-top: 6rem;
}
.card {
  background-color: rgba(159, 159, 159, 0.39);
  border-radius: 17px;
  border: 1px solid white;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 1rem 2rem 2rem;
  height: 100%;
  overflow-y: auto;
}
.title h1{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.submitbtn{
  background: #E6AA0A;
  border: none;
  border-radius: 6px;
  padding: 0.7rem 5rem;
  font-weight: bold;
  margin-top: 14px;
}

.wrapper{
  border: 1px solid;
}
.wrapper button,input{
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
}
.plusminus,.num{
  border: none;
  background: rgba(255,255,255,0.2);
    color: white;
    width: 33%;
    border-right: 1px solid;
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.desc{
  padding:10px 30px;
}
textarea{
  border-radius: 10px;
  height: 50px;
  overflow-y: auto;
  padding: 10px 20px;
}
.fooditem{
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
