<div class="container-fluid h-100">
  <div class="card h-100">
    <div class="row h-100">
      <div class="col-md-6 col-lg-7  col-xl-7 d-none d-md-block">
       <img src="../../../assets/login.png" class="w-100 h-100">
      </div>
      <div class="col-md-6 col-lg-5 col-xl-5">
        <div class="login">
          <div class="loginform">
            <div class="logo">
              <img src="../../../assets/logo.png">
            </div>
            <div class="title mt-4">
              <h1 class="mb-1">Login to Your Account</h1>
              <small>Welcome back! Select method to login</small>
            </div>
            <div class="form">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group mt-3">
                  <label class="d-block">Email</label>
                  <div class="position-relative">
                    <input class="input position-relative" type="email" placeholder="example@gmail.com" formControlName="email">
                    <div class="icon">
                      <img src="../../../assets/mailicon.svg" class="pe-2" alt="">
                      <span class="line"></span>
                    </div>
                    <div
                    *ngIf="(loginFormControl.email.touched || submitted) && loginFormControl.email.errors?.required">
                    <p class="text-danger">Email Id is required</p>
                  </div>
                  <p *ngIf="loginFormControl.email.touched && (loginFormControl.email.errors?.pattern || loginFormControl.email.errors?.email)"
                    class="text-danger">This is invalid email address!</p>
                  </div>


                </div>
                <div class="form-group mt-3">
                  <label class="d-block">Password</label>
                  <div class="position-relative">
                  <input class="input" type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder="********" formControlName="password">
                  <div class="icon">
                    <img src="../../../assets/passwordicon.svg" class="pe-2" alt="">
                    <span class="line"></span>
                  </div>
                  <div class="passwordicon">
                    <i (click)="togglePasswordVisibility()" class="fa" [ngClass]="isPasswordVisible ? 'fa fa-eye':'fa fa-eye-slash'" aria-hidden="true"></i>
                  </div>
                  <div
                  *ngIf="(loginFormControl.password.touched || submitted) && loginFormControl.password.errors?.required">
                  <p class="text-danger">Password is required</p>
                </div>
                <p *ngIf="loginFormControl.password.touched && loginFormControl.password.errors?.pattern"
                  class="text-danger">This is invalid password!</p>
                  </div>
                </div>
                <div class="form-group mt-3 d-flex align-items-center justify-content-between">
                  <!-- <div class="d-flex">
                    <input type="checkbox"><span class="d-inline-block ms-2">Remember me</span>
                  </div> -->
                 <div>
                  <a routerLink="/forgotpassword">Forgot Password?</a>
                 </div>

                </div>
                <div class="form-group text-center mt-3">
                  <button type="submit" class="btn submitbtn" [disabled]="loginForm.invalid">Login</button>
                </div>
                <div class="form-group text-center mt-4">
                    <small>Don't have an account? <a routerLink="/register">Create an account</a> </small>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
