<div class="menulaoder">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <div class="card text-center">
           <div class="title text-center">
            <h1 class="text-white">Thank You!</h1>
           </div>
           <div>
            <img src="../../../assets/thankyou.svg" alt="" class="menuspinner">
           </div>
           <div>
            <h2 class="text-white mt-3">Please Visit Again..</h2>
           </div>
           <div class="text-center">
            <button class="submitbtn">OK</button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

