
<div class="container-fluid">

  <div class="row">

    <div class="col-md-8 mt-2">

      <div class="card order-card" style="width: 100%">

        <div class="card-body">

          <mat-tab-group>

            <!-- starter tab starts here -->

            <mat-tab>

              <ng-template mat-tab-label>

                <img src="../../../assets/starters.svg" alt="" />&nbsp;Starters

              </ng-template>

              <div class="row mt-4">

                <div class="col-md-2 category-col">

                  <div class="row">

                    <div

                      class="col-md-11"

                      (click)="handleSubCategory('veg', 'starter')"

                    >

                      <div class="row d-flex justify-content-center">

                        <img

                          src="../../../assets/dish.png"

                          alt=""

                          class="category-img"

                          [ngClass]="{ 'isSelected': isSelectedVeg }"

                        />

                      </div>

                      <div class="row">

                        <h3

                          style="

                            text-align: center;

                            padding: 0px;

                            font-size: 16px;

                            font-weight: 500;

                            cursor: pointer;

                          "

                        >

                          Veg

                        </h3>

                      </div>

                    </div>

                    <div

                      class="col-md-11"

                      (click)="handleSubCategory('nonveg', 'starter')"

                    >

                      <div class="row d-flex justify-content-center">

                        <img

                          src="../../../assets/chicken-leg.png"

                          alt=""

                          class="category-img"

                          [ngClass]="{ 'isSelected': !isSelectedVeg }"

                        />

                      </div>

                      <div class="row">

                        <h3

                          style="

                            text-align: center;

                            padding: 0px;

                            font-size: 16px;

                            font-weight: 500;

                            cursor: pointer;

                          "

                        >

                          Non-Veg

                        </h3>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-10 itemListDiv">

                  <form [formGroup]="starterVegForm">

                    <div class="row mb-3">

                      <div

                        class="col-md-6 col-lg-4 mt-3"

                        [formArrayName]="isSelectedVeg?'items':'itemNonveg'"

                        *ngFor="

                          let item of isSelectedVeg

                            ? this.starterVeg

                            : this.starterNonVeg;

                          let i = index

                        "

                      >

                      <div class="flip-card" style="width: 75%" [formGroupName]="i">

                        <div class="flip-card-inner">

                          <div class="flip-card-front">

                            <div class="card-offer">

                              <h3 class="mb-0">20% off</h3>

                            </div>

 

                            <img

                            [src]="item['imgPath']"

                            class="items-img mt-4"

                          />

                          <div

                          class="col-md-12 d-flex justify-content-center"

                        >

                          <h3 class="m-0 text-bold">

                            {{ item["name"] }}

                          </h3>

                        </div>

                        <div class="col-md-12">

                          <p class="item-discription m-0">

                            {{ item["description"] }}

                          </p>

                          <p class="item-price m-0">

                            <span>₹{{ item["price"] }}</span>

                          </p>

                        </div>

                          </div>

                          <div class="flip-card-back">

                            <div class="item-count">

                              <div class="input-group mb-3">

                                <span

                                  class="input-group-text"

                                  style="cursor: pointer;"

                                  (click)="handleItemMinus(isSelectedVeg?'starter-veg':'starter-nonveg', i,item)"

                                  >-</span

                                >

                                <input

                                  type="text"

                                  class="form-control input-text-field"

                                  [id]="'desert' + i"

                                  readonly

                                  formControlName="foodCount"

                                />

                                <span

                                  class="input-group-text"

                                  style="cursor: pointer;"

                                  (click)="handleItemAdd(isSelectedVeg?'starter-veg':'starter-nonveg', i,item)"

                                  >+</span

                                >

                              </div>

                            </div>

                            <div

                            class="col-md-12 d-flex justify-content-center"

                          >

                            <h3 class="m-0 text-bold">

                              {{ item["name"] }}

                            </h3>

                          </div>

                          <div class="col-md-12">

                            <p class="item-discription m-0">

                              {{ item["description"] }}

                            </p>

                            <p class="item-price m-0">

                              <span class="text-white"> ₹{{ item["price"] }}</span>

                            </p>

                          </div>

                          </div>

                        </div>

                      </div>

                      </div>

                    </div>

                  </form>

                </div>

              </div>

            </mat-tab>

            <!-- starter ends here -->

            <!-- mainCourse starts here -->

            <mat-tab>

              <ng-template mat-tab-label>

                <img src="../../../assets/maingroup.svg" alt="" />&nbsp;Main

                Course

              </ng-template>

              <div class="row mt-4">

                <div class="col-md-2 category-col">

                  <div class="row">

                    <div

                      class="col-md-11"

                      (click)="handleSubCategory('veg', 'main')"

                    >

                      <div class="row d-flex justify-content-center">

                        <img

                          src="../../../assets/dish.png"

                          alt=""

                          class="category-img"

                          [ngClass]="{ isSelected: isSelected }"

                        />

                      </div>

                      <div class="row">

                        <h3

                          style="

                            text-align: center;

                            padding: 0px;

                            font-size: 16px;

                            font-weight: 500;

                            cursor: pointer;

                          "

                        >

                          Veg

                        </h3>

                      </div>

                    </div>

                    <div

                      class="col-md-11"

                      (click)="handleSubCategory('nonveg', 'main')"

                    >

                      <div class="row d-flex justify-content-center">

                        <img

                          src="../../../assets/chicken-leg.png"

                          alt=""

                          class="category-img"

                          [ngClass]="{ isSelected: !isSelected }"

                        />

                      </div>

                      <div class="row">

                        <h3

                          style="

                            text-align: center;

                            padding: 0px;

                            font-size: 16px;

                            font-weight: 500;

                            cursor: pointer;

                          "

                        >

                          Non-Veg

                        </h3>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-10 itemListDiv">

                  <form [formGroup]="mainCourseVegForm">

                    <div class="row mb-3">

                      <div

                        class="col-md-4 mt-3"

                        [formArrayName]="isSelected?'items':'itemNonveg'"

                        *ngFor="

                          let item of isSelected

                            ? this.mainCourseVeg

                            : this.mainCourseNonVeg;

                          let i = index

                        "

                      >

 

 

                      <div class="flip-card" style="width: 75%" [formGroupName]="i">

                        <div class="flip-card-inner">

                          <div class="flip-card-front">

                            <div class="card-offer">

                              <h3 class="mb-0">20% off</h3>

                            </div>

 

                            <img

                            [src]="item['imgPath']"

                            class="items-img mt-4"

                          />

                          <div

                          class="col-md-12 d-flex justify-content-center"

                        >

                          <h3 class="m-0 text-bold">

                            {{ item["name"] }}

                          </h3>

                        </div>

                        <div class="col-md-12">

                          <p class="item-discription m-0">

                            {{ item["description"] }}

                          </p>

                          <p class="item-price m-0">

                            <span>₹{{ item["price"] }}</span>

                          </p>

                        </div>

                          </div>

                          <div class="flip-card-back">

                            <div class="item-count">

                              <div class="input-group mb-3">

                                <span

                                  class="input-group-text"

                                  style="cursor: pointer;"

                                  (click)="handleItemMinus(isSelected?'main-veg':'main-nonveg', i,item)"

                                  >-</span

                                >

                                <input

                                  type="text"

                                  class="form-control input-text-field"

                                  [id]="'desert' + i"

                                  readonly

                                  formControlName="foodCount"

                                />

                                <span

                                  class="input-group-text"

                                  style="cursor: pointer;"

                                  (click)="handleItemAdd(isSelected?'main-veg':'main-nonveg', i,item)"

                                  >+</span

                                >

                              </div>

                            </div>

                            <div

                            class="col-md-12 d-flex justify-content-center"

                          >

                            <h3 class="m-0 text-bold">

                              {{ item["name"] }}

                            </h3>

                          </div>

                          <div class="col-md-12">

                            <p class="item-discription m-0">

                              {{ item["description"] }}

                            </p>

                            <p class="item-price m-0">

                              <span class="text-white"> ₹{{ item["price"] }}</span>

                            </p>

                          </div>

                          </div>

                        </div>

                      </div>

                  

                      </div>

                    </div>

                  </form>

                </div>

              </div>

            </mat-tab>

            <!-- mainCourse ends here -->

            <!-- Desert tabs start here -->

            <mat-tab>

              <ng-template mat-tab-label>

                <img src="../../../assets/deserts.svg" alt="" />&nbsp;Deserts

              </ng-template>

              <div class="row mt-4">

                <div class="col-md-12 itemListDiv pr-0">

                  <form [formGroup]="DesertVegForm">

                    <div class="row mb-3 ms-2">

                      <div

                        class="col-md-4 mt-3"

                        formArrayName="items"

                        *ngFor="let item of DesertsVeg; let i = index"

                      >

 

                      <div class="flip-card" style="width: 75%" [formGroupName]="i">

                        <div class="flip-card-inner">

                          <div class="flip-card-front">

                            <div class="card-offer">

                              <h3 class="mb-0">20% off</h3>

                            </div>

 

                            <img

                            [src]="item['imgPath']"

                            class="items-img mt-4"

                          />

                          <div

                          class="col-md-12 d-flex justify-content-center"

                        >

                          <h3 class="m-0 text-bold">

                            {{ item["name"] }}

                          </h3>

                        </div>

                        <div class="col-md-12">

                          <p class="item-discription m-0">

                            {{ item["description"] }}

                          </p>

                          <p class="item-price m-0">

                            <span>₹{{ item["price"] }}</span>

                          </p>

                        </div>

                          </div>

                          <div class="flip-card-back">

                            <div class="item-count">

                              <div class="input-group mb-3">

                                <span

                                  class="input-group-text"

                                  style="cursor: pointer;"

                                  (click)="handleItemMinus('desert', i,item)"

                                  >-</span

                                >

                                <input

                                  type="text"

                                  class="form-control input-text-field"

                                  [id]="'desert' + i"

                                  readonly

                                  formControlName="foodCount"

                                />

                                <span

                                  class="input-group-text"

                                  style="cursor: pointer;"

                                  (click)="handleItemAdd('desert', i,item)"

                                  >+</span

                                >

                              </div>

                            </div>

                            <div

                            class="col-md-12 d-flex justify-content-center"

                          >

                            <h3 class="m-0 text-bold">

                              {{ item["name"] }}

                            </h3>

                          </div>

                          <div class="col-md-12">

                            <p class="item-discription m-0">

                              {{ item["description"] }}

                            </p>

                            <p class="item-price m-0">

                              <span class="text-white"> ₹{{ item["price"] }}</span>

                            </p>

                          </div>

                          </div>

                        </div>

                      </div>

 

                  

                      </div>

                    </div>

                  </form>

                </div>

              </div>

            </mat-tab>

            <!-- Desert tabs ends here -->

            <!-- Brevegrage tabs start here -->

 

            <mat-tab label="Beverages">

              <ng-template mat-tab-label>

                <img

                  src="../../../assets/bevarages.svg"

                  alt=""

                />

                &nbsp;Beverages

              </ng-template>

          

              <div class="row mt-4">

                <div class="col-md-12 itemListDiv pr-0">

                  <form [formGroup]="brevegrageForm">

                    <div class="row mb-3 ms-2">

                      <div

                        class="col-md-4 mt-3"

                        formArrayName="items"

                        *ngFor="let item of BreverageVeg; let i = index"

                      >

                      <div class="flip-card" style="width: 75%" [formGroupName]="i">

                        <div class="flip-card-inner">

                          <div class="flip-card-front">

                            <div class="card-offer">

                              <h3 class="mb-0">20% off</h3>

                            </div>

 

                            <img

                            [src]="item['imgPath']"

                            class="items-img mt-4"

                          />

                          <div

                          class="col-md-12 d-flex justify-content-center"

                        >

                          <h3 class="m-0 text-bold">

                            {{ item["name"] }}

                          </h3>

                        </div>

                        <div class="col-md-12">

                          <p class="item-discription m-0">

                            {{ item["description"] }}

                          </p>

                          <p class="item-price m-0">

                            <span>₹{{ item["price"] }}</span>

                          </p>

                        </div>

                          </div>

                          <div class="flip-card-back">

                            <div class="item-count">

                              <div class="input-group mb-3">

                                <span

                                  class="input-group-text"

                                  style="cursor: pointer;"

                                  (click)="handleItemMinus('breverage', i,item)"

                                  >-</span

                                >

                                <input

                                  type="text"

                                  class="form-control input-text-field"

                                  [id]="'desert' + i"

                                  readonly

                                  formControlName="foodCount"

                                />

                                <span

                                  class="input-group-text"

                                  style="cursor: pointer;"

                                  (click)="handleItemAdd('breverage', i,item)"

                                  >+</span

                                >

                              </div>

                            </div>

                            <div

                            class="col-md-12 d-flex justify-content-center"

                          >

                            <h3 class="m-0 text-bold">

                              {{ item["name"] }}

                            </h3>

                          </div>

                          <div class="col-md-12">

                            <p class="item-discription m-0">

                              {{ item["description"] }}

                            </p>

                            <p class="item-price m-0">

                              <span class="text-white"> ₹{{ item["price"] }}</span>

                            </p>

                          </div>

                          </div>

                        </div>

                      </div>

               

                      </div>

                    </div>

                  </form>

                </div>

              </div>

            </mat-tab>

            <!-- Brevegrage tabs ends here -->

          </mat-tab-group>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <app-order-billing [KartItems]="KartItems" [addTotal]="addTotal" (deleteitem)="deleteitem($event)" (addItem)="Additem($event) " (minusItem)="minusitem($event) "></app-order-billing>

    </div>

  </div>

</div>

 