<div class="select-table mb-5">
  <div class="container-fluid">
    <div class="card select-table-card mt-3 mb-5">
      <div class="tables pt-2">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-2 g-lg-3">
          <div class="col d-flex align-items-center flex-column">
            <div *ngFor="let tables of tableData; index as i">
              <div *ngIf="tables.tableNo===1 ||tables.tableNo===2 ||tables.tableNo===3">
                <div class="table1 position-relative" style="z-index: 0;">
                  <small class="tableno" [ngStyle]="{'color':tables.selected? 'white':'black'}"
                    #selecttablenumber>T{{tables.tableNo}}</small>
                  <img *ngIf="!tables.booked===true && tables.alloted===true"
                    [src]="!tables.selected?table1occupiedImage[0]:table1occupiedImage[1]"
                    (click)="selectTableNumber(tables)">
                  <img *ngIf="!tables.booked===true && tables.alloted===false"
                    [src]="!tables.selected?table1vaccantImage[1]:table1vaccantImage[0]"
                    (click)="selectTableNumber(tables)">
                  <img
                    *ngIf="(!tables.booked===false && tables.alloted===false) || (!tables.booked===false && tables.alloted===true) "
                    [src]="!tables.selected?table1bookedImage[1]:table1bookedImage[0]"
                    (click)="selectTableNumber(tables)">

                  <div class="table-details">
                    <div class="booked text-start" *ngIf="!tables.booked===false">
                      <small class="d-block"></small>
                      <small class="d-block" style="color: #D4C500;line-height: 1;">Booked</small>
                      <small class="d-block" style="color: #909090;line-height: 1;"></small>
                    </div>
                    <div class="occupied text-start" *ngIf="!tables.booked===true && tables.alloted===true">
                      <small class="d-block">Enum vatson</small>
                      <small class="d-block" style="color: #17A39D;line-height: 1;">Occupied</small>
                    </div>
                    <div class="booked text-start" *ngIf="!tables.booked===true && tables.alloted===false">
                      <small class="d-block" [ngStyle]="{'color':tables.selected? 'white':'#5EBB48'}"
                        style="line-height:2;">Vaccant</small>
                    </div>
                  </div>
                </div>
                <!-- <div class="table2 position-relative">
                <small class="tableno">T2</small>
                <img src="../../../assets/booked4verticalseats.svg">
                <div class="table-details">
                <div class="occupied text-start">
                  <small class="d-block">Enum vatson</small>
                  <small class="d-block" style="color: #17A39D;line-height: 1;">Occupied</small>

                </div>
                </div>
              </div>
              <div class="table3 position-relative">
                <small class="tableno">T3</small>
                <img src="../../../assets/booked4verticalseats.svg">
                <div class="table-details">
                  <div class="vaccant text-start">
                    <small class="d-block" style="color: #5EBB48;line-height: 1;">Vaccant</small>

                  </div>
                  </div>
              </div> -->
              </div>
            </div>


          </div>
          <div class="col d-flex  align-items-center flex-column">
            <div *ngFor="let tables of tableData">
              <div *ngIf="tables.tableNo===4 ||tables.tableNo===5">
                <div class="table4 position-relative" style="z-index: 0;">
                  <small class="tableno" #selecttablenumber
                    [ngStyle]="{'color':tables.selected? 'white':'black'}">T{{tables.tableNo}}</small>
                  <img class="mb-2" *ngIf="!tables.booked===true && tables.alloted===true"
                    [src]="!selectedImage?table2occupiedImage[1]:table2occupiedImage[0]">
                  <img class="mb-2" *ngIf="!tables.booked===true && tables.alloted===false"
                    [src]="tables.selected === true?table2vaccantImage[0]:table2vaccantImage[1]"
                    (click)="selectTableNumber(tables)">
                  <img class="mb-2" *ngIf="!tables.booked===false"
                    [src]="!selectedImage?table2bookedImage[1]:table2bookedImage[0]">
                  <div class="table-details">
                    <div class="booked text-start" *ngIf="!tables.booked===false">
                      <small class="d-block"></small>
                      <small class="d-block" style="color: #D4C500;line-height: 1;">Booked</small>
                      <small class="d-block" style="color: #909090;line-height: 1;"></small>
                    </div>
                    <div class="occupied text-start" *ngIf="!tables.booked===true && tables.alloted===true">
                      <small class="d-block">Enum vatson</small>
                      <small class="d-block" style="color: #17A39D;line-height: 1;">Occupied</small>
                    </div>
                    <div class="booked text-start" *ngIf="!tables.booked===true && tables.alloted===false">
                      <small class="d-block" [ngStyle]="{'color':tables.selected? 'white':'#5EBB48'}"
                        style="line-height:2;">Vaccant</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex  align-items-center flex-column">
            <div *ngFor="let tables of tableData">
              <div *ngIf="tables.tableNo===6 || tables.tableNo===7 || tables.tableNo===8 ||tables.tableNo===9">
                <div class="table6 position-relative" style="z-index: 0;">

                  <small class="tableno" #selecttablenumber
                    [ngStyle]="{'color':tables.selected? 'white':'black'}">T{{tables.tableNo}}</small>
                  <img class="mb-2" *ngIf="!tables.booked===true && tables.alloted===true"
                    [src]="!tables.selected?table3occupiedImage[1]:table3occupiedImage[0]">
                  <img class="mb-2" *ngIf="!tables.booked===true && tables.alloted===false"
                    [src]="!tables.selected?table3vaccantImage[1]:table3occupiedImage[0]"
                    (click)="selectTableNumber(tables)">
                  <img class="mb-2" *ngIf="!tables.booked===false"
                    [src]="!tables.selected?table3bookedImage[1]:table3bookedImage[0]">
                  <div class="table-details">
                    <div class="booked text-start" *ngIf="!tables.booked===false">
                      <small class="d-block"></small>
                      <small class="d-block" style="color: #D4C500;line-height: 1;">Booked</small>
                      <small class="d-block" style="color: #909090;line-height: 1;"></small>
                    </div>
                    <div class="occupied text-start" *ngIf="!tables.booked===true && tables.alloted===true">
                      <small class="d-block">Enum vatson</small>
                      <small class="d-block" style="color: #17A39D;line-height: 1;">Occupied</small>
                    </div>
                    <div class="booked text-start" *ngIf="!tables.booked===true && tables.alloted===false">
                      <small class="d-block" [ngStyle]="{'color':tables.selected? 'white':'#5EBB48'}"
                        style="line-height:2;">Vaccant</small>
                    </div>
                  </div>
                </div>


              </div>
            </div>

          </div>

          <div class="col d-flex flex-column align-items-center">
            <div *ngFor="let tables of tableData">
              <div *ngIf="tables.tableNo===10 || tables.tableNo===11 || tables.tableNo===12">
                <div class="table10 position-relative" style="z-index: 0;">
                  <small class="tableno" [ngStyle]="{'color':tables.selected? 'white':'black'}"
                    #selecttablenumber>T{{tables.tableNo}}</small>
                  <img *ngIf="!tables.booked===true && tables.alloted===true" [src]="table1occupiedImage">
                  <img *ngIf="!tables.booked===true && tables.alloted===false" [src]="table1vaccantImage"
                    (click)="selectTableNumber(tables)">
                  <img *ngIf="!tables.booked===false" [src]="table1bookedImage">
                  <div class="table-details">
                    <div class="booked text-start" *ngIf="!tables.booked===false">
                      <small class="d-block"></small>
                      <small class="d-block" style="color: #D4C500;line-height: 1;">Booked</small>
                      <small class="d-block" style="color: #909090;line-height: 1;"></small>
                    </div>
                    <div class="occupied text-start" *ngIf="!tables.booked===true && tables.alloted===true">
                      <small class="d-block">Enum vatson</small>
                      <small class="d-block" style="color: #17A39D;line-height: 1;">Occupied</small>
                    </div>
                    <div class="booked text-start" *ngIf="!tables.booked===true && tables.alloted===false">
                      <small class="d-block" [ngStyle]="{'color':tables.selected? 'white':'#5EBB48'}"
                        style="line-height:2;">Vaccant</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col d-flex flex-column align-items-center">
            <div class="w-100" *ngFor="let tables of tableData  index as i">
              <div *ngIf="tables.tableNo===13 || tables.tableNo===14 || tables.tableNo===15 || tables.tableNo===16">
                <div class="table10 position-relative" style="z-index: 0;">
                  <small class="tableno" [ngStyle]="{'color':tables.selected? 'white':'black'}"
                    #selecttablenumber>T{{tables.tableNo}}</small>
                  <img *ngIf="!tables.booked===true && tables.alloted===true" [src]="table3occupiedImage">
                  <img *ngIf="!tables.booked===true && tables.alloted===false" [src]="table3vaccantImage"
                    (click)="selectTableNumber(tables)">
                  <img *ngIf="!tables.booked===false" [src]="table3bookedImage">
                  <div class="table-details">
                    <div class="booked text-start" *ngIf="!tables.booked===false">
                      <small class="d-block"></small>
                      <small class="d-block" style="color: #D4C500;line-height: 1;">Booked</small>
                      <small class="d-block" style="color: #909090;line-height: 1;"></small>
                    </div>
                    <div class="occupied text-start" *ngIf="!tables.booked===true && tables.alloted===true">
                      <small class="d-block">Enum vatson</small>
                      <small class="d-block" style="color: #17A39D;line-height: 1;">Occupied</small>
                    </div>
                    <div class="booked text-start" *ngIf="!tables.booked===true && tables.alloted===false">
                      <small class="d-block" [ngStyle]="{'color':tables.selected? 'white':'#5EBB48'}"
                        style="line-height:2;">Vaccant</small>
                    </div>
                  </div>
                </div>
              </div>

              <div
                *ngIf="tables.tableNo!==13 && tables.tableNo!==14 && tables.tableNo!==15 && tables.tableNo!==16 && i==0">
                <div class="offer">
                  <div class="card flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <div class="card-offer">
                          <h3 class="mb-0">20% off</h3>
                        </div>
                        <img src="../../../assets/food.jpeg" class="mt-4 w-100">
                        <div class="col-md-12 d-flex justify-content-center">
                          <h3 class="m-0 text-bold">
                            Pani Puri
                          </h3>
                        </div>
                        <div class="col-md-12">
                          <p class="item-discription m-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, consequatur! Illum quia
                            distinctio, nulla consectetur aperiam doloribus, facilis minima, adipisci optio maxime
                            repudiandae? Cum iusto delectus neque, nobis obcaecati aperiam!
                          </p>
                          <p class="item-price text-center m-0">
                            <span>₹20</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>



        </div>
      </div>

      <div class="card footercard m-3 p-3">
        <div class="footer d-flex  justify-content-between">
          <div class="text-center order-1 order-sm-1">
            <!-- <button class="btn-outline">Merge / Existing Table</button> -->
          </div>
          <div class="text-center d-none d-sm-block order-3 order-sm-2">
            <h2 class="mb-0" style="font-weight: 500;">Table {{tablenumberData?.join(', ')}}</h2>
            <!-- <small style="color: #626262;">#Order 55865</small> -->
          </div>
          <div class="text-center order-2 order-sm-3">

            <button class="btnn" (click)="openSetTimeModal()" [disabled]="tablenumberData?.length ==0 || tablenumberData===null">Select & Order
              food</button>
          </div>
        </div>
        <div class="text-left d-sm-none order-3 order-sm-2 mt-3">
          <h2 class="mb-0" style="font-weight: 500;">Selected Table {{tablenumberData?.join(', ')}}</h2>
          <!-- <small style="color: #626262;">#Order 55865</small> -->
        </div>
      </div>
    </div>
  </div>
</div>
