.table1 img{
  margin-bottom: 4.1rem;
  position: relative;
}

.table6 img,.table7 img, .table8 img,.table9 img,.table13 img,.table14 img,.table15 img{
  margin-bottom: 1.54rem;
  position: relative;
}
.select-table-card{
  height: calc(100vh - 130px);
 border: none;
 box-shadow: 0px 0px 4px lightgray;
 margin-bottom: 10px;
}
.select-table-card::-webkit-scrollbar, .tables::-webkit-scrollbar{
  display: none;
}
.card-offer{
  position: absolute;
  background: #D7006C;
  left: 0px;
  top: 0px;
  color: white;
  padding: 0px 12px;
  border-radius: 12px 18px 18px 0px;
}
.tables{
  padding-bottom: 20px !important;
  height: calc(100vh - 30px);
  overflow: scroll;
}
.footercard{
  border: 1px solid #236BAE;
  border-radius: 16px;
  z-index: 1;
}
.tableno{
  position: absolute;
  margin-left: 15px;
  z-index: 1;
  top: 14px;
}

.table4 .tableno,.table5 .tableno,.table6 .tableno,.table7 .tableno, .table8 .tableno,.table9 .tableno,.table13 .tableno,.table14 .tableno,.table15 .tableno,.table16 .tableno{
 margin-left: 20px;
 top: 10px;
}
.table-details{
  position: absolute;
  z-index: 1;
  bottom: 80px;
  margin-left: 12px;
}
.table4 .table-details,.table5 .table-details{
bottom: 35px;
margin-left: 15px;
}
.table10 .table-details{
    position: absolute;
    z-index: 1;
    bottom: 13px;
    margin-left: 12px;
}
.table6 .table-details,.table7 .table-details, .table8 .table-details,.table9 .table-details,.table13 .table-details,.table14 .table-details,.table15 .table-details,.table16 .table-details{
  bottom: 20px;
  margin-left: 15px;
}

img{
  cursor: pointer;
}
.offer{
  width: 100%;
  box-shadow: 0px 0px 3px lightgray;
  padding: 10px;
  height: calc(100vh - 199px);
  overflow-y: auto;
}
.flip-card{
  padding: 10px;
  box-shadow: 0px 0px 5px lightgray;
  border-radius: 12px;
}
.item-discription{
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media only screen and(max-width:500px){
  .btn-outline {
    font-size: 12px;
    padding:10px 5px;
}
.btnn {
  font-size: 12px;
  padding:10px 5px;
}
}
